@import "../../../../scss/typography";

.header {
  flex: 1 100%;
  flex-shrink: 0;

  .name-title {
    font-family: $roboto;
    font-weight: 400;
    font-size: 4rem;
    margin: 0 0;
  }

  .name-sub-title {
    font-family: $roboto;
    font-weight: 100;
    font-size: 1rem;
    line-height: 1.75rem;
    margin: 0.5rem 0.5rem 1rem;
  }
}

.text-center {
    text-align: center
}

.add-todo-button{
  font-size: 2rem;
  cursor: pointer;
}
