.row {
  display: flex;
}
.row {
  .col {
    flex: 1;
  }

  .col-25 {
    flex: 2.5;
  }

  .col-50 {
    flex: 5;
  }
  .col-33 {
    flex: 3.33;
  }
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 32%;
}

@media (max-width: 400px) {
  .row,
  .flex-grid-thirds {
    display: block;
    .col {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}

* {
  box-sizing: border-box;
}
